.allcomments
    .allcommentsmain
        padding 129px 112px 0 68px
        
    .allcommentsfooter
        position relative
        img
            width 1666px
            height 618px
            position absolute
            top -52px
            left -44px
            z-index 99       