.swiper .swiper-img-left,.swiper .swiper-img-center,.swiper .swiper-img-right{position:absolute; top:50%; transfrom:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);}
.swiper .swiper-img-left{left:0;margin-left:60px;}
.swiper .swiper-img-center{top:50%;left:50%;transfrom:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.swiper .swiper-img-right{right:0;}
.swiper .swiper-button{ border:none; color:#fff;background:#e50017; border-radius: 5px;height: 30px;min-width: 120px;font-size: 14px;cursor:pointer}
.swiper .swiper-button:hover{background:#ff6070;}
.swiper .swiper-link{display:inline-block; background:url("~statics/images/contentCarousel/img_right.png") no-repeat right center;padding-right:19px; font-size:16px;cursor:pointer}
.swiper .swiper-link:hover{color:#666666}
.swiper .swiper-button-prev{background:url("~statics/images/contentCarousel/icon_arrow_left.png") no-repeat center; width:70px; height:120px; cursor:pointer;left:50px;margin-top:-60px;}
.swiper .swiper-button-next{background:url("~statics/images/contentCarousel/icon_arrow_right.png") no-repeat center; width:70px; height:120px;cursor:pointer;right:50px;margin-top:-60px;}
.swiper .swiper-button-prev.pre2{background:url("~statics/images/contentCarousel/L.png") no-repeat center; cursor:pointer; width: 40px; position: absolute; z-index: 100; display: flex; justify-content: center; align-items: center; flex-direction: column; align-self: flex-end; right: calc((64 / 1920 * 100vw) - -65px); bottom: calc(80 / 1920 * 100vw); height: 40px; left: auto; top: auto;}
.swiper .swiper-button-prev.pre2:hover {background:url("~statics/images/contentCarousel/L1.png") no-repeat center; cursor:pointer; width: 40px; position: absolute; z-index: 100; display: flex; justify-content: center; align-items: center; flex-direction: column; align-self: flex-end; right: calc((64 / 1920 * 100vw) - -65px); bottom: calc(80 / 1920 * 100vw); height: 40px; left: auto; top: auto;}
.swiper .swiper-button-next.nex2{background:url("~statics/images/contentCarousel/R.png") no-repeat center; cursor:pointer; width: 40px;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-end;
    right: calc(64 / 1920 * 100vw);
    bottom: calc(80 / 1920 * 100vw);
    height: 40px;
    left: auto; top: auto;}
.swiper .swiper-button-next.nex2:hover{background:url("~statics/images/contentCarousel/R1.png") no-repeat center; cursor:pointer; width: 40px;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-end;
    right: calc(64 / 1920 * 100vw);
    bottom: calc(80 / 1920 * 100vw);
    height: 40px;
    left: auto; top: auto;}    
.swiper .gallery-thumbs-horizontal{ position:absolute;transfrom:translateX(-50%);-webkit-transform:translateX(-50%); left:50%; bottom:30px;}
.swiper .gallery-thumbs-horizontal .swiper-slide{display:inline-block; width:128px; height:58px; border:1px solid #ccc; margin-right:15px;}
.swiper .gallery-thumbs-horizontal .swiper-slide.swiper-slide-active{border:1px solid #36383c;}
.swiper .swiper-pagination-line .swiper-pagination-bullet { width:25px; height:6px; border-radius:0;}
.swiper .swiper-button-prev-v{top: 40px;left: auto;right: 45px;transform: rotate(90deg);}
.swiper .swiper-button-next-v{ right: 46px;transform: rotate(90deg);top: auto;bottom: 20px;}
.swiper .swiper-container-vertical > .swiper-pagination-bullets{right:50px;transform: translate3d(30%, -50%, 0);}
.swiper-pagination-bullets .swiper-pagination-bullet{background:#fff;opacity:0.6;box-shadow: 0 2px 6px 0 #000;}
.swiper-pagination-bullets .swiper-pagination-bullet-active{background:#333;opacity:0.6;}