.wechat-login
    display flex
    justify-content center
    align-items center
    .img-wrap
        height 240px
        width 240px
        display flex
        justify-content center
        align-items center
        border 1px solid $border-color-1
        img
            width 100%
            height 100%