    .bind-email
        padding 24px 40px
        .bind-email-third
            display flex
            justify-content center
            align-items center
            padding 35px 0
            i
                display inline-block
                width 58px
                height 58px
                background url("~statics/success.png") center center no-repeat
                background-size 100% 100%
                margin-right 16px
            p
                letter-spacing 0
                margin 0
                color $all-color-1 
                &.top
                    font-size 16px
                    font-weight bold
                &.down
                    font-size 14px
                    color #666
                    margin-top 6px
    .ytx-dialog-footer
        width 100%
        box-sizing border-box
        border-top 1px solid $border-color-1
        height 80px
        padding 0 40px
        display flex
        background-color $background-color-5
        align-items center 
        justify-content flex-end