.commentheader
        width 1488px
        .statusBox
            box-sizing border-box
            width 1488px
            height 196px
            padding 63px 0 52px 610px
            border 1px solid #e5e5e5
            .main
                height 80px
                display flex
                align-items center
                .icon-status
                    display block
                    height 66px
                    width 66px
                    background url('~statics/success.png') center no-repeat
                    background-size 100% 100%
                    margin-right 25px
                .statusinfo
                    display inline-block
                    .statustitle
                        font-size 16px
                        letter-spacing 0.5px
                        font-weight bold
                        font-family HelveticaNeue-Bold
                        height 34px
                        line-height 36px
                        color #252525
                        padding 0
                        margin 0
                    .statuscontent 
                        height 24px
                        line-height 20px
                        letter-spacing 0.5px    
                        color #666666
                        font-size 14px
                        padding 0
                        margin 0
                        font-family HelveticaNeue-Medium
                        a
                            color #6abcfc
                            cursor pointer
