.ytx-compare-popup
  width 900px
  position fixed
  left 50%
  bottom 10px
  transform translateX(-50%)
  z-index 1000
  background-color #fff
  .tab-header
    height 30px
    display flex
    justify-content space-between
    .tab-label
      display flex
      height 100%
      position relative
      .tab-label-item
        min-width 80px
        height 100%
        padding 2px
        display flex
        cursor default
        justify-content center
        align-items center
        background-color #fff
        position absolute
        left 0
        top 0
        &:nth-child(1)
          left 80px
        &.active
          border 1px solid $all-color-1
          border-bottom none
          top 1px
    .hint-btn
      color $all-color-1
      display flex
      justify-content center
      align-items center
      margin-right 20px
      cursor pointer
  .tab-content
    border 1px solid $all-color-1
    padding 6px 0 16px
    display flex
    width 100%
    .content-box
      display flex
      flex 1
      .content-item
        display flex
        align-items center
        flex 1
        padding 16px 10px
        border-right 1px dotted $all-color-1
        position relative
        .img-wrap
          width 50px
          height 50px
          display flex
          justify-content center
          align-items center
          margin-right 6px
          img
            max-height 100%
            max-width 100%
        .item-right
          height 50px
          display flex
          flex-direction column
          justify-content space-between
          flex 1
          width 120px
          .item-title
            font 12px font-r
            color $all-color-1
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
          .defult-text
            color #ccc
          .item-desc
            display flex
            flex-wrap nowrap
            .item-price
              line-height 1.5
              color $all-color-1
              font-weight bold
              overflow hidden
              text-overflow ellipsis
            .btn-del
              margin-left 10px
              display none
              white-space nowrap
              color #666
              line-height 1.5
              position absolute
              right 10px
              bottom 0 
              &:hover
                color #000
        &:hover
          .item-right
            .btn-del
              display block
    .btn-wrap
      width 130px
      text-align center
      padding 16px 0px
      .btn-container
        display flex
        justify-content center
        .btn-compare
          border 1px solid #ccc
          height 30px
          border-radius 4px
          display flex
          justify-content center
          align-items center
          color #ccc
          padding 0 5px 
        .btn-compare-active
          background #000
          color #fff
          cursor pointer
      .btn-clear
        margin-top 10px
        color #000
        cursor pointer
