.display-wrap-iwinad
	.display-box-panel
		.toolbar-right
			top 20% !important
			.icon1
				background #fff url('~statics/images/contentCarousel/setting-n.png') center no-repeat
			.icon2
				background #fff url('~statics/images/contentCarousel/pic_setting-n.png') center no-repeat
	.editor-panel
		.panel-main-iwinad
			.banner
				padding 32px 16px 16px 16px !important
				.popup-foot
					padding 10px 0 0 15px
					text-align right
					position absolute
					bottom 0
					right 0
					width 100%
					background-color #FFFFFF
					box-shadow 0 0 10px 6px rgba(0,0,0,.1)
					padding-bottom 10px
					padding-right 10px
					opacity 0.95
					border 1px solid #ccc
					border-radius 3px
					border-top none				
					.btn-common
						position relative
						padding 7px 15px
						display inline-block
						line-height 1
						cursor pointer
						white-space nowrap
						border 1px solid #dcdfe6
						color #606266
						text-align center
						box-sizing border-box
						outline 0
						margin 0
						transition .1s
						font-weight 500
						padding 12px 20px
						font-size 14px
						border-radius 4px
					.btn-cancel
						background linear-gradient(180deg,#fff 5%,#f1f3f7)
					.btn-comfirm 
						color #fff
						border-color #409eff
						background linear-gradient(180deg,#2ca0f7 5%,#1585d8)
						margin-left 10px
				.img-title
					font-size 16px
					color #333
				.custom-select
					margin 0
					padding 0
					min-height 24px
					max-width 50px
					height 20px
					font-size 12px					
			.nav-item
				border-bottom none
				margin-bottom 60px
				.nav-list
					border-top none
.swiper-slide
	.banner-icon
		width 108px
		position absolute
		z-index 100
		display flex
		justify-content center
		align-items center
		flex-direction column
		align-self flex-end
		right calc(64 / 1920 * 100vw)
		bottom calc((80 / 1920 * 100vw) - -50px)
		.swiper-text
			width 100%
			color #252525
			display flex
			justify-content space-between
			align-items center
			font-family HelveticaNeue
			font-weight bold
			font-size 14px	
			.text1
				padding 0 6%	
			hr
				width 64px
				color #fff
				height 2px
				border-width 0px
				background #fff		
			.text2
				color #fff
				padding 0 6%
						    