.fotgot-password-iwind
    .step
        width 500px
        margin 200px auto
        border 1px solid #ccc
        padding 30px
        box-shadow 2px -2px 30px 2px #ccc
        .form-title
            font-size 18px
            color #333
            font-family Roboto-Medium
            text-align center
            margin-bottom 50px
        .form-desc
            font-size 16px
            color #333
            font-family Roboto-Medium
            text-align center
            margin-bottom 20px   
            margin-top 20px          
        .pc-un-input
            margin-bottom 16px
            .input-label
                font-size 14px
                color #999 
        .btn-forgotpsw
            width 100%
            height 56px
            background-color #000
            border none
            border-radius 32px
            color #fff
            cursor pointer
            margin-bottom 10px
            margin-top 10px
            outline none                
        .input-group-customeA
            margin-bottom 22px
            position relative
            .points
                position absolute
                bottom 50px
                width 250px
                padding 16px
                background #fff
                border 1px solid #cccccc
                border-radius 2px
                &:before
                    content ' '
                    display block
                    width 10px
                    height 10px
                    background #fff
                    position absolute
                    bottom -5px
                    left 125px
                    transform  rotate(45deg)
                    border-bottom 1px solid #ccc
                    border-right 1px solid #ccc
                    .points-title
                        margin-bottom 3px
                p
                    font-size 12px
                    color #666
                    margin-bottom 0
                    line-height 20px
                    &.active
                        color #5fb870
                    span
                        margin-left 3px 
            input
                outline none
                padding-left 10px
                border 1px solid #cccccc
                height 56px
                line-height 32px
                font-size 14px
                padding-right 40px
                width 100%
                &.focus
                    border 1px solid #666
                    color #333      
            .pc-input-code
                flex 1
            &.error
                input
                    border 1px solid #e50017
                    color #e50017
            .errMessage
                position absolute
                font-size 14px
                color #e50017
                top 100%
                left 0
                letter-spacing 0
            .code
                position absolute
                right 20px
                top 12px
                width 65px
                height 24px
                cursor pointer
            .ver-btn
                font-weight bold
                min-width: 100px
                border 1px solid #b2b2b2
                border-left none
                background-color: #fff
                height 56px
                line-height 32px
                font-size 14px
                text-align center
                cursor: pointer
                outline 0  
                &:hover
                    border 1px solid #000
                    color #000
                &:disabled
                    border 1px solid #c1c1c1 !important
                    color #333 !important
                    background-color #f5f5f5
                &[disabled]:hover
                    border 1px solid #c1c1c1 !important
                    color #333 !important
            .input-item
                display flex    