.c-mybrowsinghistory
    padding-top 16px
    .y-card
        overflow hidden!important
        .list-box
            padding-top 10px
            .list-item
                border-top 1px solid #e5e5e5
                position relative
                margin-bottom 40px!important
                padding-top 20px!important
                .date-sign
                    background-color #fff
                    position absolute
                    left 15px
                    top -0.9375rem
                    padding-right 16px
                    color $all-color-1
                    font-size 18px
                    font-family HelveticaNeue-75bold
                .date-sign1
                    padding-left 30px
                    left -15px
                &:last-child
                    margin-right -15px