.orderDetailWrap
  width: 100%
  margin-top 88px
  font-family HelveticaNeue !important
.feeDetails
      .main
        width: 82%
        margin 0 auto
      h3
        margin:20px 0
        font-size: 24px
        font-weight: bold
      .feeDetails-con
        min-height 20px
        line-height 3
        width 100%
        font-weight 600
        border 1px solid $border-color-1
        padding 0 32px 32px 32px
        table
          border 0
          width 100%
        .table-tr1
          font-size calc(14/1920*100vw)
          color $font-color-3
          font-family HelveticaNeue
          font-weight 600
          border 1px solid #000
          letter-spacing 1px
        td
          font-family HelveticaNeue
          font-size calc(14/1920*100vw)
          letter-spacing 1px
        .table-td1
          text-align left
          width calc(112 / 1920 * 100vw)
          
        .table-td1-2
          text-align left
          width calc(112 / 1920 * 100vw)
          border-bottom 1px solid $border-color-1 
          min-width 80px
        .table-td1-1
          text-align left
          width calc(232/1920*100vw)
          min-width 172px
          border-bottom 1px solid $border-color-1
        .table-td2
          text-align right
          width calc(148/1920*100vw)
          border-bottom 1px solid $border-color-1
        .table-td3
          text-align right
          width calc(176/1920*100vw)
          border-bottom 1px solid $border-color-1
        .table-td4
          text-align right
          width calc(206/1920*100vw)
          border-bottom 1px solid $border-color-1
        .table-td5
          text-align right
          width calc(198/1920*100vw)
          border-bottom 1px solid $border-color-1
        .table-td6
          text-align right
          width calc(204/1920*100vw)
          border-bottom 1px solid $border-color-1
        .table-td7
          text-align right
          width calc(204/1920*100vw)
          border-bottom 1px solid $border-color-1
        .table-td8
          text-align right
          width calc(40/1920*100vw)
          border-bottom 1px solid $border-color-1
        th
          font-weight normal
          border-bottom 1px solid $border-color-1
        .table-th1
          text-align left
          width calc(328/1920*100vw)
          border-bottom 1px solid $border-color-1
        .table-th2
          text-align right
          width calc(148/1920*100vw)
        .table-th3
          text-align right
          width calc(176/1920*100vw)
        .table-th4
          text-align right
          width calc(206/1920*100vw)
        .table-th5
          text-align right
          width calc(198/1920*100vw)
        .table-th6
          text-align right
          width calc(204/1920*100vw)
        .table-th7
          text-align right
          width calc(204/1920*100vw)
        .table-th8
          text-align right
          width calc(40/1920*100vw)
        .first-table-td
          display flex
          justify-content flex-start
          align-items center
          flex-direction column
          min-height 20px
          line-height 0.8
          width 100%
        .item-product:last-child
          .item-font
            border-bottom none
        .item-product
          display flex
          justify-content flex-start
          align-items center
          line-height 0.8
          width 100%
          padding 16px 0
        .item-font
          display flex
          justify-content flex-start
          align-items center
          min-height 20px
          line-height 0.8
          margin-top calc(16/1920*100vw)
          margin-bottom calc(16/1920*100vw)
          width 100%
          padding-bottom calc(20/1920*100vw)
          border-bottom 1px solid $border-color-1 
        .item2-img
          width 80px
          display flex
          align-items center
          padding 16px 0
        .item2-text
          min-width 172px
          line-height 13px
          font-weight 400
        .item2-name
          font-size calc(14/1920*100vw)
          font-weight bold
          color $all-color-1
          line-height 2.4
          white-space nowrap
        .item2-data
          font-size calc(12/1920*100vw)
          color $font-color-5
        .item2-text2
          width 15%
          line-height 1
          text-align center
        .item2-Upfront
          font-size calc(14/1920*100vw)
          font-weight bold
          color $font-color-5
        .item2-price
          font-size calc(12/1920*100vw)
          color $all-color-1
        .item2-text3
          width 10%
          min-width 86px 
          line-height 1
          text-align center
          padding-right calc(20/1920*100vw)
        .item2-text4
          width 15.8%
          min-width 46px 
          line-height 1
          text-align center
        .item2-Number
          font-size calc(14/1920*100vw)
          color $all-color-1
        .second-table-td
          display flex
          justify-content center
          align-items center
          min-height 100%
          line-height 1.4
          width 15%
          border-right 1px solid #e4e4e4
        .item2-text5
          width 10.4%
          min-width 46px 
          line-height 1
          text-align center
        .item2-text6
          width 16.4%
          min-width 46px 
          line-height 1
          text-align center
        .item2-text7
          width 9.2%
          min-width 46px 
          line-height 1
          text-align center
        .checkout-total
          margin-top 32px
          width 100%
          font-size calc(14/1920*100vw)
          display flex
          justify-content flex-end
          flex-direction row
          align-items center
          color $font-color-5
          font-weight 400
          font-family HelveticaNeue !important
          .total
            display flex
            justify-content flex-end
            flex-direction row
            align-items center
            width 100%
            font-weight 600
            >div
              >div
                letter-spacing 1px
          .decuctedBox
            display flex
            justify-content flex-end
            flex-direction row
            margin-left 16px
          .decucted
            margin-right 6px
          .tax
            display flex
            justify-content flex-end
            flex-direction row
            margin-left 16px
            margin-right 6px
          .fee
            display flex
            justify-content flex-end
            flex-direction row
            margin-left 16px
            margin-right 6px
          .freight
            display flex
            justify-content flex-end
            flex-direction row
            margin-left 16px
            margin-right 6px
          .subTotal
            display flex
            justify-content flex-end
            flex-direction row
            margin-left 16px
            margin-right 6px
          .number
            color $all-color-1
.remark-wrap
    margin  16px 0
    .main
      width: 82%
      margin 0 auto
      .remark-con
          padding 16px
          border 1px solid $border-color-1
          min-height 100px
.recomment-wrap
    margin-bottom 16px
    .main
      margin 0 auto
    .search-hot
      display flex
      flex-direction column
      .hot-top
        padding 20px 0
        display flex
        justify-content space-between
        font-size 12px
        .hot-left
          display flex
          align-items center
          span
             font-size calc(24/1920*100vw)
             font-weight bold
          .q-if
            padding 0
            margin 0
        .hot-right
          display flex
          align-items center
          .hot-btn-left
            cursor pointer
            width calc(36/1920*100vw)
            height calc(36/1920*100vw)
            background $all-color-1
            border-radius 50px
            color $all-color-2
            display flex
            align-items center
            justify-content center
            margin-right calc(20/1920*100vw)
            font-size calc(14/1920*100vw)
            min-width 24px
            min-height 24px
            opacity 1
            &.swiper-button-disabled
              opacity .5
          .hot-btn-right
            cursor pointer
            width calc(36/1920*100vw)
            height calc(36/1920*100vw)
            background $all-color-1
            border-radius 50px
            color $all-color-2
            display flex
            align-items center
            justify-content center
            font-size calc(14/1920*100vw)
            min-width 24px
            min-height 24px
            opacity 1
            &.swiper-button-disabled
              opacity .5
          span
            padding 0 12px
            display none
      .hot-main
        width 100%
        display flex
        justify-content flex-start
        align-items center
        margin 0 0 6% 0
        .hot-box:hover
          border 1px solid #000
        .hot-box
          display inline-block
          float left
          height 100%
          border 1px solid #c5c5c5
          margin-right calc(32/1920*100vw)
          .offering-box
            display flex
            flex-direction column
            align-items center
            justify-content flex-start
            width 100%
            .offering-img
              width calc(270/1920*100vw)
              display flex
              justify-content center
              align-items flex-start
              img
                width 100%
            .offering-text
              margin: 4% 2% 10% 2%;
              width 100%
              display flex
              align-items center
              flex-direction column
              .offering-name
                width 100%
                font-size calc(18/1920*100vw)
                color $all-color-1
                text-align center
                font-weight bold
              .offering-price
                width 100%
                font-size calc(16/1920*100vw)
                color $all-color-1
                margin 0
                display flex
                align-items center
                justify-content center
              p
                letter-spacing 0
                margin 0
                line-height 2
                padding 0
      .search-hot-main
        // width calc(1483/1920*100vw)
        width 100%
        //height calc(380/1920*100vw)
        height 380px
        position relative
        overflow hidden
      .search-hot-box
        display inline-block
        position absolute
        display flex
        transition all .3s
      .search-hot-img
        border 1px solid #c5c5c5
        display inline-block
        //height calc(380/1920*100vw)
        height 380px
        box-sizing border-box
        display flex
        justify-content flex-start
        align-items center
        flex-direction column
        overflow hidden
        .search-hot-imgname
          font-weight bold
          //font-size calc(18/1920*100vw)
          font-size 18px
          color $all-color-1
          line-height 2
          margin-top calc(20/1920*100vw)
          padding 0 16px
          white-space nowrap
          overflow hidden
          width 100%
          text-align center
          text-overflow ellipsis
        .search-hot-data
          font-weight 400
          //font-size calc(16/1920*100vw)
          font-size 16px
          display flex
          flex-direction row
          padding 0 16px
          color $all-color-1
          .search-hot-imgtype
            padding-left 10px
            color $font-color-3
      .search-hot-img:hover
        border 2px solid $all-color-1
.info-wrap
   .main
      margin 0 auto
      width 82%
      .info-title
        font-size 24px
        margin 20px 0
        font-weight bold
      .pl16
        padding-left 16px
      .info-item
        border 1px solid $border-color-1
        padding 16px 30px
        &>div
          margin 16px 0
          .info-prop
             display inline-block
             min-width 150px
             color $font-color-5
      .info-item1
        margin-right 16px
      .info-item2
        margin-left 16px
.delivery-wrap
  
  .delivery-title
     font-size 24px
     font-weight bold
     margin 20px 0
  .delivery-inner-wrapper
     border 1px solid $border-color-1
     background #fff
  .main
     margin 0 auto
     width 82%
  .delivery-tabs
     
     display flex
     position relative
     span
       display block
       padding 8px 40px
       text-align center
       border-radius 25px
       background $background-color-5
       position relative
       cursor pointer
       border-right 4px solid #fff
       border-left 4px solid #fff
       margin-left  -25px
       color $all-color-3
       z-index 2
       &:first-child
          border-left none
          //padding-left 16px
          margin-left 0
          border-radius 25px 25px 25px 0
       &:last-child
          border-radius 25px 25px  0 25px
       &.active
          background $positive
          color $all-color-1
          z-index 1000!important
  .delivery-con
     overflow-y auto
     max-height 340px
     border-bottom 1px solid $border-color-1
     .delivery-con-wrapper
          display flex
          align-items stretch
          .delivery-wrapper-left
            width 486px
            .delivery-pro
              margin 16px 0 16px 32px
              display flex
              padding-bottom 16px
              border-bottom 1px solid $border-color-1

              .delivery-pro-img
                width 80px
                height 80px
                margin-right 10px
                text-align center
                img
                    max-width 100%
                    max-height 100%
                    display inline-block
              .delivery-pro-info
                flex 1
                overflow hidden
                align-items stretch
                .pro-title
                    white-space nowrap
                    overflow hidden
                    text-overflow ellipsis
                    width 100%
                    margin-bottom 8px
                .pro-prop
                    font-size 12px
                    color $font-color-5 
                    margin-bottom 5px
                    &.pro-prop-share
                       color $background-color-4
              .pro-count
                  min-width 120px
                  padding 0 30px 0 16px
                  span
                    display block
                    position relative
                    text-align right
                    color $font-color-5 
                    top 50%
                    transform: translateY(-50%)
              &:last-child
                margin-bottom 0
                border none
          .delivery-wrapper-right
              border-left 1px solid $border-color-1
              padding 20px
              position relative
              .orderStatus
                  position absolute
                  top 50%
                  left 50%
                  transform: translate(-50%,-50%)
                  font-size 20px
              .info-step
                .info-step-item
                  display flex
                  .info-step-icon
                    position relative
                    .info-step-dot
                      width 12px
                      height 12px
                      position absolute
                      background #ccc
                      top 50%
                      border 2px solid #fff
                      transform translateY(-50%)
                      //background url("~statics/images/orderDetail/dotted.png") no-repeat
                      //background-position 0 -14px
                      border-radius 50%
                      margin-left 1px
                    .l-t
                      display inline-block
                      height 100%
                      width 2px
                      background #ccc
                      position absolute
                      left 6px
                      top 0
                  .info-step-text
                    padding 15px
                    margin-left 20px
                    .tit
                      font-size 12px
                      color $font-color-5
                      margin-bottom 4px
                      display inline-block
                      margin-right 25px
                    .desc
                      display inline-block
                      span
                        font-size 14px
                        //color #333
                        margin-right 20px
                  &.active
                    .info-step-icon
                      .info-step-dot
                        //background-position 0 0
                        background $positive
                        width 16px
                        height 16px
                        border none
                        margin-left -1px
                      .l-t
                        background $positive
                    .info-step-text
                      .tit
                        color $positive
                      .desc
                        span
                          color $positive
  .delivery-footer
      padding 16px 32px
      background #fafafa
      .delivery-text
        font-size 14px
        .delivery-item
          margin-bottom 12px
          color $font-color-5
          b 
            color $all-color-1
        .delivery-desc
            margin-right 25px
            color $font-color-5
            b  
               color $all-color-1
.orderStatue-wrap
    .main
      width 82%
      margin 0 auto
    .orderStatue-inner
        border 1px solid $border-color-1
        .orderStatue-left
          padding 50px
          width 486px
          border-right 1px solid $border-color-1
          .order-num
             color $font-color-3
             span
                color $all-color-1
          .order-name
             font-size 24px
             color $positive
             margin-bottom 8px
          .order-action
             padding-top  40px 
             .btn
                padding 6px 16px
                border 1px solid $border-color-1
                border-radius 32px
                margin-right 12px
                text-align center
                cursor pointer
                display inline-block
                width calc( 100% - 8px)
                white-space nowrap
                overflow hidden
                text-overflow ellipsis
                &.primary
                  color $all-color-2
                  background  $positive
                  border-color $positive
              .text-btn
                cursor pointer
                color $font-color-4
        .orderStatue-right
          padding 16px
          .order-process
              position relative
              top 50%
              transform translateY(-50%)
              .order-process-step
                  text-align center
                  padding 0 20px
                  position relative
                  .order-step-img
                    display inline-block
                    width 40px
                    height 40px
                    margin-bottom 16px
                  .order-process-title
                    margin-bottom 8px
                    color $font-color-3
                  .order-process-date
                    color $font-color-3
                  &:before
                    content ''
                    position absolute
                    display block
                    width calc( 100% - 100px)
                    border-bottom 1px dashed $font-color-5 
                    left calc( 50px - 50%)
                    TOP 20px
                  &:first-child      
                    &:before
                        opacity 0
                  .order-step01
                    background  url('~statics/images/orderDetail/h-step1.png')  no-repeat
                    background-size 100%
                  .order-step02
                    background  url('~statics/images/orderDetail/h-step2.png')  no-repeat
                    background-size 100%
                  .order-step03
                    background  url('~statics/images/orderDetail/h-step3.png')  no-repeat
                    background-size 100%
                  .order-step04
                    background  url('~statics/images/orderDetail/h-step4.png')  no-repeat
                    background-size 100%
                  .order-step05
                    background  url('~statics/images/orderDetail/h-step5.png')  no-repeat
                    background-size 100%
                  .order-step06
                    background  url('~statics/images/orderDetail/h-step6.png')  no-repeat
                    background-size 100%
                  &.active
                    .order-step01
                      background  url('~statics/images/orderDetail/step1.png')  no-repeat
                      background-size 100%
                    .order-step02
                      background  url('~statics/images/orderDetail/step2.png')  no-repeat
                      background-size 100%
                    .order-step03
                      background  url('~statics/images/orderDetail/step3.png')  no-repeat
                      background-size 100%
                    .order-step04
                      background  url('~statics/images/orderDetail/step4.png')  no-repeat
                      background-size 100%
                    .order-step05
                      background  url('~statics/images/orderDetail/step5.png')  no-repeat
                      background-size 100%
                    .order-step06
                      background  url('~statics/images/orderDetail/step6.png')  no-repeat
                      background-size 100%
                    &:before
                       border-color $positive
                    .order-process-title
                       color $positive
                 
    .orderStatue-title
        font-size 24px
        font-weight bold
        margin 20px 0
        .orderStatue-inner
            .orderStatue-left
                padding 16px  
   