html[app='desktop'], html[app='desktop'] body
  font-family $pc_normal_font
html[app='desktop'] body
 
 .shoppingbagBox2
    .footer-bottom-fixed
        position fixed
        width calc(1568 / 1920 * 100vw)!important
        bottom 0!important
        left auto!important
    .shoppingBoxFloor 
        .floor-box
            width 100%
            >div:nth-child(1) 
               >.shoppingbtn
                   margin-left calc(32 / 1920 * 100vw)
        