.sidebar-tip
    padding 30px 0 30px 0
    border-bottom 1px dashed #e5e5e5
    text-align center
    .user-avatar
        width 55px
        height 55px
        margin 0 auto
    .pic-img
        border-radius 50%
        max-width 100%
        max-height 100%
    .user-call
        margin-top 16px
        .user-name
            display inline-block
            font-family HelveticalNeue
            color #252525
            font-size 14px 
            letter-spacing 0px
            font-weight bold
            white-space nowrap
        .level
            display inline-block
            margin-left 10px
            font-family HelveticalNeue
            font-size 12px
            color #fff
            letter-spacing 0px
            background-color #000
            border-radius 3px
            padding 0 3px
    .user-level
        margin-top 16px
        .progress-bar
            display inline-block
            height 12px
            margin-left 8px
            width calc(150 / 1920 * 100vw)
            border-radius 6px
            vertical-align middle
            background-color #f5f5f5
            color #f5f5f5
            .q-progress-model
                background-color #6dd6a9
                border-radius 6px
    .user-phone
        margin-top 16px
        .phone-icon
            display inline-block
            vertical-align middle
            width 12px
            height 16px
            background url('~statics/360-view-design/phone.png') center no-repeat
        .phone-num
            display inline-block
            vertical-align middle
            margin-left 10px
            font-size 14px
            color #252525
            line-height 28px
            letter-spacing 0px
            font-family HelveticalNeue