.ytx-dialog-bg
    background-color rgba(0,0,0,.3)
    width 100%
    height 100%
    position fixed
    left 0
    top 0
.ytx-dialog
    width 680px
    background-color #fff
    border 1px solid $border-color-1
    position fixed
    left 50%
    top 50%
    transform translate(-50%,-50%)
    .ytx-dialog-header
        height 56px
        line-height 56px
        display flex
        justify-content space-between
        align-items center
        margin 0 14px
        border-bottom 1px solid $border-color-1
        .dialog-title
            font 16px HelveticaNeue-75bold
            color $all-color-1
            text-transform capitalize
            letter-spacing 0
        .close-icon
            display inline-block
            height 16px
            width 16px
            cursor pointer
            background url("~statics/close.png") center center no-repeat
    .ytx-dialog-body
        max-height calc(100vh - 164 / 1920 * 100vw - 139px)
        min-height 165px
